body{

background:#f4f7fb;

font-family:Poppins,sans-serif;

}

.sidebar{

background:#2e7d32;

min-height:100vh;

}

.list-group-item{

background:#2e7d32;

color:white;

border:none;

padding:15px;

}

.list-group-item:hover{

background:#43a047;

color:white;

}

.card{

border:none;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.card-header{

font-weight:bold;

}

.table th{

background:#4caf50;

color:white;

}

.btn-success{

background:#4caf50;

}

.btn-warning{

color:white;

}

.navbar{

height:70px;

}

.container-fluid{

padding:0;

}